.cabecalho{
	background: $corSec01;
	color: #fff;
	border-bottom: 1px solid #eaeaea;

	.header1{
		display: none;
		font-size: 10.5px;
		padding: 10px 0px;
		color: #fff;

		@media(min-width: 992px){
			display: block;
		}
		@media(min-width: 1200px){
			font-size: 13px;
		}

		a{
			color: #fff;

			&:hover{
				opacity: 0.5;
			}
		}

		.outros-links{
			margin-left: 30px;

			ul{
				margin-left: 10px;
				border: 1px solid #fff;
				padding: 8px 6px;
				height: 30px;

				li{
					margin-left: 10px;
					padding-left: 10px;
					border-left: 1px solid #fff;

					i{
						margin-right: 10px;
					}

					&:first-child{
						margin-left: 0px;
						padding-left: 0px;
						border: none;
					}
				}
			}
		}

		.social-media1{
			margin-left: 18px;

			li{
				transition: all 200ms ease;
			}

			li:hover{
				opacity: 0.5;
			}
		}
	}

	.header2{
		padding: 18px 0px;
		background: #fff;

		.logo a:hover{
			opacity: 0.7;
		}

		.btn-menu-mob{
			padding-right: 10px;
			
			&:hover{
				opacity: 0.5;
			}
			@media(min-width: 992px){
				display:none;
			}
		}
	}
}

.menu1{
	position: fixed;
	left: 100%;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $corSec01;
	z-index: 100;
	padding: 32px 0px;
	transition:  all 450ms ease;

	.header-extra{
		margin-bottom: 32px;

		.close-menu-mob:hover{
			opacity: 0.5;
		}
	}

	a{
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
	}
	li{
		cursor: pointer;
	}

	a:hover{
		color: $corPrim01 !important;
	}

	.menu-principal{
		margin-bottom: 32px;
		margin-top: 64px;

		li{
			width: 100%;
			text-align:  center;
			border-bottom: 1px solid $corPrim01;

			&:first-child{
				border-top: 1px solid $corPrim01;
			}

			span{
				color: $corPrim01;
			}
		}

		li a{
			padding: 12px 0px;
			width: 100%;
			display: inline-block;

			@media(min-width: 992px){
				padding: 32px 0px;
			}
		}		
	}

	.bottom-debug{
		.email-ajuste a{
			font-size: 12px;
			margin-top: 4px;
		}
	}

	.inf-base{
		margin-bottom: 32px;

		li{
			margin-bottom: 8px;
		}
	}

	.social-media1{
		a:hover{
			opacity: 0.5;
		}
	}

	@media(min-width: 992px){
		position: static;
		width: auto;
		height: auto;
		padding: 0px;
		background: #fff;
		
		.ajuste-licenc{
			max-width: 150px;
			text-align: center;
			position: relative;
			top: 9px;
			line-height: 18px;
		}
		li{
			margin-left: 20px;
			font-size: 13px;
			font-family: 'latobold';
			width: auto;
			border: 0px solid transparent !important;
			width: auto !important;

			&:first-child{
				margin-left: 0px;
			}

			@media(min-width: 1200px){
				margin-left: 24px;
			}
		}

		a{
			color: $corSec01;
			font-size: 12.5px;

			@media(min-width: 1200px){
				font-size: 14px;
			}
		}

		a:hover{
			color: $corPrim01;	
		}

		.mob-dados-extra{
			display: none !important;
		}

		.menu-principal{
			margin-bottom: 0px;
			margin-top: 0px;
		}
	}
}


.menu1-active1{
	left: -0px !important;
	overflow-y: scroll;
}

/* Menu - SubMenu */
@media(min-width: 992px){
  .menu1 ul li{
    position: relative;
  }

  .menu1 ul ul{
    position: absolute;
		left: 0;
		top: 68px;
    background-color: $corPrim01;
    display: none;
		color: #fff;
    width: 190px;
    padding: 0px 16px 0px;
    margin-left: -32px;
  }

  .menu1 ul li:hover ul{
    display: block;
  }

  .menu1 ul ul li{
    margin-left: 0px;
    text-align: left;
  }

  .menu1 ul ul li a{
    text-align: left;
    border-top: 1px solid #fff;
    display: inline-block;
		padding: 16px 0px 16px !important;
		color: #fff;

		&:hover{
			color: #fff !important;
			opacity: 0.7;
		}
	}
	.menu1 ul ul li:first-child{
		a{
			border-top: none;
		}
	}
}