.page-lista-curso{
	padding-bottom: 58px;
	padding-top: 90px;
	background: #f7f7f7;

	.content-colapse{
		position: static;
		height: auto;
	}
	ul.item{
		position: static;
	}
	.p-thumb-curso{
		margin: 0 auto;
		margin-bottom: 32px !important;

		@media(min-width: 992px){
			margin: 0px !important;
			margin-left: 32px !important;
			margin-bottom: 32px !important;
		
			&:first-child{
				margin-left: 0px !important;
			}
		}
	}
	.p-thumb-curso:nth-child(3n + 4){
		margin-left: 0px !important;
	}
}