.page-lista-curso{
	.content-colapse{
		position: static;
		height: auto;
	}
	ul.item{
		position: static;
	}
	.p-thumb-curso{
		margin: 0px !important;
		margin-left: 32px !important;
		margin-bottom: 32px !important;

		&:first-child{
			margin-left: 0px !important;
		}
	}
	.p-thumb-curso:nth-child(3n + 4){
		margin-left: 0px !important;
	}
}