.page-sobre-nos{
  padding-bottom: 90px;
  padding-top: 90px;
  background: #f7f7f7;

  .wrap-img{
    margin-bottom: 48px;

    img{
      width: 100%;
    }
  }

  .content{
    max-width: 940px;
    margin: 0 auto;

    h2{
      font-size: 20px;
      margin-bottom: 28px;
      color: #363533;
    }

    p{
      font-size: 15px;
      color: #777;
      line-height: 25px;
      margin-bottom: 60px;
    }

    li{
      margin-bottom: 32px;
      @media(min-width: 992px){
        text-align: center;
        margin-bottom: 0px;
        width: 30%;

        p{
          margin-bottom: 0px;
        }
      }

      h4{
        margin-bottom: 16px;
        font-size: 20px;
      }
    }
  }

}