.page-home{
	.principais-cursos-pad{
		padding: 64px 0px 85px;
		background: #f7f7f7;

		.title-pad{
			margin-bottom: 28px;
		}

		@media(min-width: 992px){
			padding: 90px 0px 90px;
		}
	}

	.saiba-mais-pad{
		background: url('img/back-proximos-eventos.jpg') repeat;
	}
}
