.page-secretaria{
  padding-bottom: 90px;

  .wrap-img-ban{
    padding: 15px;
    border: 1px solid #e1e1e1;
    margin-bottom: 55px;

    img{
      width: 100%;
    }
  }

  .lista-contato{
    margin-bottom: 70px;
  }

  .secretaria-part{
    background: none;
    padding: 0px;
    margin-bottom: 90px;

    .item{
      margin-bottom: 48px;

      &:last-child{
        margin-bottom: 0px;
      }
    }

    h5, p{
      color: #000;
    }

    span{
      display: block;
      width: 100px;
      height: 28px;
      font-size: 12px;
      padding-top: 8px;
      margin-top: 12px;
    }

    @media(min-width: 992px){
      .item{
        width: 100%; 
        margin-bottom: 32px;
        margin-top: 0px;
      }
    }
  }

  .form-contact{

    @media(min-width: 992px){
      input, select{
        width: 47% !important;
        margin: 0px 1.5%;
        margin-bottom: 15px;
        max-width: 100%;
        background: #f1eff0;
        border: 1px solid #dbd9da;
        border-radius: 0px;
      }
  
      textarea{
        width: 98% !important;
        margin: 0px 1%;
        margin-bottom: 15px;
        max-width: 100%;
      }
    }
  }
}