.page-single-curso{
	.cabecalho-curso{
		background: url('img/curso-header-interno.jpg');
		padding: 38px 0px;

		h2{
			text-transform: uppercase;
			margin-bottom: 16px;
			font-size: 30px;
			font-family: $bold;
		}
		li{
			text-transform: uppercase;
			font-size: 12px;
			font-family: $bold;
			margin-left: 6px;

			&:first-child{
				margin-left: 0px;
			}
		}
	}
}